.header {
  background: #4267b2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;

  p {
    color: #fff;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  }
}
